<div class="row">
  <h1>Question</h1>
</div>
<div class="row">
  <p class="display-3">{{ description }}</p>
</div>
<div class="row">
  <app-answer-listing-and-response [kind]="answerData?.kind || ''" [answerA]="answerData?.answerA ?? ''"
    [answerB]="answerData?.answerB ?? ''" [answerC]="answerData?.answerC ?? ''" [answerD]="answerData?.answerD ?? ''">
  </app-answer-listing-and-response>
  </div>
  <div class="row">
  <div class="row justify-content-evenly">
    <div class="col-4">
      <button class="btn btn-outline-primary w-100" (click)="prev()">
        <div class="arrow">❰</div>
        <div>Previous</div>
      </button>
    </div>
    <div class="col-1 text-center">
      <div class="spinner-border" role="status" [hidden]="!(answerSaving$ | async)">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="col-4 text-center">
      <button class="btn btn-outline-primary w-100" (click)="next()">
        <div class="arrow">❱</div>
        <div>Next</div>
      </button>
    </div>
  </div>
</div>
