<div class="h-100 d-flex flex-column flex-nowrap justify-content-center align-items-stretch">
  <div>
    <h1 i18n>Question</h1>
  </div>
  <div class="flex-fill overflow-auto border">
    <p class="display-3">{{ description }}</p>
  </div>
  <div>
    <app-answer-listing-and-response [kind]="answerData?.kind || ''" [answerA]="answerData?.answerA ?? ''"
      [answerB]="answerData?.answerB ?? ''" [answerC]="answerData?.answerC ?? ''" [answerD]="answerData?.answerD ?? ''">
    </app-answer-listing-and-response>
  </div>
  <div class="container mt-1 border-top pt-1">
    <div class="row justify-content-evenly">
      <button class="col-5 btn btn-outline-primary flex-fill d-block" (click)="prev()">
        <div class="arrow">❰</div>
        <div i18n>Previous</div>
      </button>
      <div class="col-2 text-center">
        <div class="spinner-border spinner-border-sm" role="status" [hidden]="!(answerSaving$ | async)">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <button class="col-5 btn btn-outline-primary flex-fill d-block" (click)="next()">
        <div class="arrow">❱</div>
        <div i18n>Next</div>
      </button>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="finalizedlg">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" i18n>Complete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p i18n>Submit your answers and see your score?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" i18n>Go back</button>
        <button type="button" class="btn btn-primary" i18n (click)="finalize()">Finalize</button>
      </div>
    </div>
  </div>
</div>