<ng-container *ngIf="kind">
  <div class="row row-cols-2">
    <app-answer-option [answerText]="answerA" answerLetter="A" class="col"></app-answer-option>
    <app-answer-option [answerText]="answerB" answerLetter="B" class="col"></app-answer-option>
    <app-answer-option [answerText]="answerC" answerLetter="C" class="col" *ngIf="kind === 'c' || kind === 'm'">
    </app-answer-option>
    <app-answer-option [answerText]="answerD" answerLetter="D" class="col" *ngIf="kind === 'c' || kind === 'm'">
    </app-answer-option>
  </div>
</ng-container>
