<ng-container *ngIf="kind">
  <div class="row row-cols-2">
    <div class="col">
      <app-answer-option [answerText]="answerA" answerLetter="A"></app-answer-option>
    </div>
    <div class="col">
      <app-answer-option [answerText]="answerB" answerLetter="B"></app-answer-option>
    </div>
    <div class="col" *ngIf="kind === 'c' || kind === 'm'">
      <app-answer-option [answerText]="answerC" answerLetter="C"></app-answer-option>
    </div>
    <div class="col" *ngIf="kind === 'c' || kind === 'm'">
      <app-answer-option [answerText]="answerD" answerLetter="D"></app-answer-option>
    </div>
  </div>
</ng-container>
