.result-container {
  overflow: hidden;
}

.result-head {
  display: block;
  font-size: 160%;
  text-align: center;
}

.result {
  display: block;
  font-size: 500%;
  text-align: center;
}

.progress {
  height: 2px;
  background-color: rgb(165, 42, 42);
}
